#tab-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    /* margin: 0 auto; */
}

.tab-content-wrap{
    border: 1px solid #dedede;
    padding: 30px;
    margin: 30px 0px;
    border-radius: 10px;
    /* align-content: center; */
    /* justify-content: center; */
    /* margin: 0 auto; */
}

#tabs{
    display: flex;
    gap: 30px;
}

#tabs li{
    list-style: none;
}

#tabs li a{
    cursor: pointer;
    text-decoration: none;
    padding: 30px;
    border-radius: 30px;
    font-size: 0;
}

#tabs li .blue{
    background: blue;
}

#tabs li .red{
    background: red;
}

#tabs li .cream{
    background: lightgoldenrodyellow;
}

#tabs li .black{
    background: black;
}
